.card {
  margin-top: 3em;
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, 15rem);
}
.container {
  background-color: #141414;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .card {
    margin-top: 1em;
  }
}
  

