/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import url("http://fonts.cdnfonts.com/css/gotham");

.navbar {
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 15px 0 15px 0;
  box-shadow: -1px 9px 12px 0px rgba(0, 0, 0, 0.75);
}

.nav_menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
}

.link {
  text-decoration: none;
}

.h3 {
  color: white;
  font-size: 18px;
  margin: 0 20px 0 0;
  /* font-family: 'Bebas Neue', cursive; */
  font-family: "Gotham", sans-serif;
  font-weight: 500;
}

.h3:hover {
  color: #e5e5e5;
}
.nav_toggle {
  color: #ffffff;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}

.navbar img {
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.navbar img:hover {
  transform: scale(1.1);
}
/*RESPONSIVE*/

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 50px;
  }
  .navbar img {
    width: 120px;
  }
  .link {
    line-height: 70px;
  }
  .h3 {
    font-size: 18px;
  }
  .nav_menu {
    flex-direction: column;
    background-color: rgba(102, 101, 101, 0.986);
    position: fixed;
    /* left: 0; */
    top: 91px;
    width: 100%;
    padding: 20px 0 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }
  .nav_toggle {
    display: block;
  }
  .nav_menu_visible {
    left: 0;
  }
}

@media screen and (max-width: 425px) {
  .nav_toggle {
    padding: 0;
  }
}
